.ModalForm_TTRPG_Tuts_CSS::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 8px;
  width: 60px;
  height: 60px;
  z-index: 10;

  background-image: url("z_Assets/Fighter%20Gemmy.png");
  background-size: contain;
  background-repeat: no-repeat;

  transform: rotate(4deg);
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.6));
}